%section#new_session
	%form{:method => "post", :action => "/sessions"}
		E-mail Address:
		%input{:type => "text", :name => 'email'}/
		Password:
		%input{:type => "password", :name => 'password'}/
		%input{:type => "submit", :value => 'Sign in'}/