<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca de Babel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Reset -->
    <link href="../public/styles/stylesheets/main.css" rel="stylesheet" media="screen">
    <script src="//use.typekit.net/gjy5lgt.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
  <header class="flexbox-item">
    <h1>Biblioteca de Babel</h1>
    <h2>a bookmark manager</h2>
  </header>
    <%= yield %>
  </body>
</html>